cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
}
.ventana {
    width: 400px;
    background: #6bb09a;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: absolute;
    left: 36%;
    top: 5%;
    display: none;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
    
  }
  
  .controls {
    width: 100%;
    background: #bfe0ca;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #0b6207;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #075506;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  a {
    color: #106af0;
    text-decoration: none;
  }